{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
  <meta charset="UTF-8">
  <title>Doctor Patient Portal</title>
</head>

<body class="background">

<div class="header">
  <div class="title">
    <h1>Doctor Patient Portal</h1>
    <p>Welcome to Doctor Patient Portal, a website developed by <em>Group 4!</em></p>
  </div>

  <img src="{% static 'image/doctor_patient.jpg' %}" class="doctorPatient-image">

  <div class="menu-bar">

    <button class="midium_button" onclick="location.href='{% url 'catalog:index' %}'">Home</button>
    <button class="midium_button">Reserve</button>
    <button class="midium_button">Doctor Search</button>
    <button class="midium_button">Feedback</button>
  </div>
</div>
</body>

</html>