<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Doctor Patient Portal</title>
        {% include 'header.html' %}
    </head>
    <body>
        <div class="user-page">
            <p>
                You are logged in as <strong>{{ user.accountinfo.name }}</strong>.
            </p>
            <p>
                Username: {{ user.username }}<br>
                Email: {{ user.email }}<br>
                Location: {{ user.accountinfo.location }}<br>
            </p>
            <p>
                <a href="{% url 'catalog:user_edit' %}">Edit your information</a>
            </p>
        </div>
    </body>
</html>